@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index">
    <table>
        <tr>
            <td>First Name: </td>
            <td><input type="text" id="txtFirstName" name="FirstName" /></td>
        </tr>
        <tr>
            <td>Last Name: </td>
            <td><input type="text" id="txtLastName" name="LastName" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
    <hr />
    @ViewBag.Name
</form>


<button onclick="git()"> Git </button>
<div id="DivContent"></div>
<script>
    function git() {

        var xx = await fetch("https://localhost:7158/api/Products/GetAll");
        document.getElementById("DivContent").innerHTML = xx; 
    }
</script>